.InputContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.4rem;
    margin-left: 0px;
}

.Input{
    width: 100%;
    padding: 0.5rem;
    font-size: small;
    letter-spacing: 0.2px;
    border: 1px solid gray;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.Input:focus{
    outline: 2px solid var(--accent1);
}

.Label{
    font-size: small;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: var(--text);
}

.Label.required::after{
    content: "*";
    color: rgb(240, 79, 79);
    font-size: large;
}